body.login { background: #fff;}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform { border-radius: 5px;}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {visibility: hidden;}
body.login div#login form#loginform p.forgetmenot input#rememberme {visibility: hidden;}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {}
body.login div#login p#nav {visibility: hidden;}
body.login div#login p#nav a {visibility: hidden;}
body.login div#login p#backtoblog { visibility: hidden;}
body.login div#login p#backtoblog a {visibility: hidden;}