.mobile-menu {
	display: none;

	/*background: #e8ae3c;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px; */
	ul {
		padding-left: 0;
		margin-bottom: 0;

		li {
			display: block;
			width: 20%;
			margin-left: auto;
			margin-right: auto;

			a {
				text-align: center;
				display: block;
				color: #fff;

				span {
					display: block;

					&.icon {
						font-size: 1.2em;
					}

					&.text {
						text-transform: uppercase;
						font-size: 0.688em;
						font-weight: bold;
					}
				}

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
				}
			}
		}

		&:after {
			content: "";
			clear: both;
			display: table;
		}
	}

	&.isStuck {
		z-index: 2500;
	}
}

// @media screen and (max-width: 767px) {
// 	.mobile-menu {
// 		display: block;
// 		background: #002633;
// 		position: fixed;
// 		width: 100%;
// 		z-index: 999;

// 	}

// }

@media screen and (max-width: 506px) {
	.mobile-menu ul li a span.text {
		font-size: 0.588em;
	}

}


.search_mobile {
	display: block;
	width: 91%;
	margin-bottom: 15px;
	margin-left: 4%;
	position: relative;
}

.search_mobile:before {
	content: "\f002";
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -2px;
	right: 0;
	font-family: 'FontAwesome';
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: $(
		search-icon-color
	);
}

.search_mobile input[type="text"] {
	height: 36px;
	width: 100%;
	border: none;
	background: #fff;
	color: #666;
	border: 1px solid #666;
	padding-left: 10px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.search_mobile input[type="submit"] {
	display: block;
	top: 0;
	right: 0;
	height: 38px;
	width: 38px;
	position: absolute;
	border: none;
	background: none;
}


/****************MMENU CUSTOMIZATION*********************/


.client-info {
	clear: left;
	overflow: auto;
	padding-bottom: 15px;
}

.client-info .client-pic {
	float: left;
	width: 100%;
}

.client-info .client-details {
	float: left;
	width: 70%;
	padding-top: 15px;
	padding-left: 5%;
}

.client-info .client-details .client-name {
	font-weight: bold;
	font-size: 18px;
}

.client-info .client-details .client-kw {
	color: #999;
}

.client-info img {

	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 210px;
}

@media screen and (max-width:480px) {
	.client-info .client-details .client-name {
		font-weight: bold;
		font-size: 15px;
	}
}

@media screen and (max-width:360px) {
	.client-info .client-details .client-name {
		font-size: 13px;
	}

	.client-info .client-details .client-kw {
		font-size: 12px;
	}
}