
.postmeta {
	font-size: 13px;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 35px;
}

.postmeta a {
	color: $(post-meta-color);
	text-decoration: none;
}
.postmeta a:hover {
	color: #154da2;
}

.inner-title-box ul {
	margin: 15px 30px;
}
.inner-title-box ul li {
	list-style:disc;
	margin-bottom: 15px;
}

.inner-title-box a {
	color: #01aa4f;
}

.post-navigation {
	border-top: 4px solid #000099;
	border-bottom: 4px solid #000099;
	clear: both;
	margin: 0 7.6923% 3.5em;
}

.post-navigation a {
	color: #000099;
	display: block;
	padding: 1.75em 0;
}

.post-navigation span {
	display: block;
}

.post-navigation .meta-nav {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.post-navigation .post-title {
	display: inline;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.2173913043;
	text-rendering: optimizeLegibility;
}

.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title {
	color: #007acc;
}

.post-navigation div + div {
	border-top: 4px solid #000099;
}

.pagination {
	border-top: 4px solid #000099;
	font-size: 19px;
	font-size: 1.1875rem;
	margin: 0 7.6923% 2.947368421em;
	min-height: 56px;
}

.pagination:before,
.pagination:after {
	background-color: #000099;
	content: "";
	height: 52px;
	position: absolute;
	top:0;
	width: 52px;
	z-index: 0;
}

.pagination:before {
	right: 0;
}

.pagination:after {
	right: 54px;
}

.pagination a:hover,
.pagination a:focus {
	color: #000099;
}

.pagination .nav-links {
	padding-right: 106px;
	position: relative;
}

.pagination .nav-links:before,
.pagination .nav-links:after {
	color: #fff;
	font-size: 32px;
	line-height: 51px;
	opacity: 0.3;
	position: absolute;
	width: 52px;
	z-index: 1;
}

.pagination .nav-links:before {
	content: "\f429";
	right: -1px;
}

.pagination .nav-links:after {
	content: "\f430";
	right: 55px;
}

/* reset screen-reader-text */
.pagination .current .screen-reader-text {
	position: static !important;
}

.pagination .page-numbers {
	display: none;
	letter-spacing: 0.013157895em;
	line-height: 1;
	margin: 0 0.7368421053em 0 -0.7368421053em;
	padding: 0.8157894737em 0.7368421053em 0.3947368421em;
	text-transform: uppercase;
}

.pagination .current {
	display: inline-block;
	font-weight: 700;
}

.pagination .prev,
.pagination .next {
	background-color: #000099;
	color: #fff;
	display: inline-block;
	height: 52px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	width: 52px;
	z-index: 2;
}

.pagination .prev:before,
.pagination .next:before {
	font-size: 32px;
	height: 53px;
	line-height: 52px;
	position: relative;
	width: 53px;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
	background-color: #007acc;
	color: #fff;
}

.pagination .prev:focus,
.pagination .next:focus {
	outline: 0;
}

.pagination .prev {
	right: 54px;
}

.pagination .prev:before {
	content: "\f430";
	left: -1px;
	top: -1px;
}

.pagination .next {
	right: 0;
}

.pagination .next:before {
	content: "\f429";
	right: -1px;
	top: -1px;
}

.image-navigation,
.comment-navigation {
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin: 0 7.6923% 2.1538461538em;
	padding: 1.0769230769em 0;
}

.comment-navigation {
	margin-right: 0;
	margin-left: 0;
}

.comments-title + .comment-navigation {
	border-bottom: 0;
	margin-bottom: 0;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
	display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}


.post-thumbnail {
	display: block;
	margin: 0 7.6923% 1.75em;
}

.post-thumbnail img {
	display: block;
}

.no-sidebar .post-thumbnail img {
	margin: 0 auto;
}

a.post-thumbnail:hover,
a.post-thumbnail:focus {
	opacity: 0.85;
}

.entry-content,
.entry-summary {
	border-color: #d1d1d1;
}

.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
	font-size: 28px;
	font-size: 1.75rem;
	line-height: 1.25;
	margin-top: 2em;
	margin-bottom: 1em;
}

.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2 {
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: 1.2173913043;
	margin-top: 1.4347826087em;
	margin-bottom: 1.2173913043em;
}

.entry-content h3,
.entry-summary h3,
.comment-content h3,
.textwidget h3 {
	font-size: 19px;
	font-size: 1.1875rem;
	line-height: 1.1052631579;
	margin-top: 2.9473684211em;
	margin-bottom: 1.4736842105em;
}

.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin-top: 3.5em;
	margin-bottom: 1.75em;
}

.entry-content h4,
.entry-summary h4,
.comment-content h4,
.textwidget h4 {
	letter-spacing: 0.140625em;
	text-transform: uppercase;
}

.entry-content h6,
.entry-summary h6,
.comment-content h6,
.textwidget h6 {
	font-style: italic;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
	font-weight: 900;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-summary h1:first-child,
.entry-summary h2:first-child,
.entry-summary h3:first-child,
.entry-summary h4:first-child,
.entry-summary h5:first-child,
.entry-summary h6:first-child,
.comment-content h1:first-child,
.comment-content h2:first-child,
.comment-content h3:first-child,
.comment-content h4:first-child,
.comment-content h5:first-child,
.comment-content h6:first-child,
.textwidget h1:first-child,
.textwidget h2:first-child,
.textwidget h3:first-child,
.textwidget h4:first-child,
.textwidget h5:first-child,
.textwidget h6:first-child {
	margin-top: 0;
}

.post-navigation .post-title,
.entry-title,
.comments-title {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.entry-content > :last-child,
.entry-summary > :last-child,
body:not(.search-results) .entry-summary > :last-child,
.page-content > :last-child,
.comment-content > :last-child,
.textwidget > :last-child {
	margin-bottom: 0;
}


.author-info {
	border-color: inherit;
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	padding-top: 1.75em;
	padding-bottom: 1.75em;
}

.author-avatar .avatar {
	float: left;
	height: 42px;
	margin: 0 1.75em 1.75em 0;
	width: 42px;
}

.author-description > :last-child {
	margin-bottom: 0;
}

.entry-content .author-title {
	clear: none;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 900;
	line-height: 1.75;
	margin: 0;
}

.author-bio {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-bottom: 1.6153846154em;
	overflow: hidden;
}

.author-link {
	white-space: nowrap;
}


.author {
	 color: #000000 !important;
	 font-size: 13px !important;
}

.white-box{
	padding-top:0 !important;	
}
.entry-footer {
	color: #000000;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px !important;
	line-height: 1.6153846154;
	margin:18px auto;
}

.entry-footer time.updated{
	display:none;	
}

.entry-footer:empty {
	margin: 0;
}

.entry-footer a {
	color: #08d869 !important;
}

.entry-footer a:hover,
.entry-footer a:focus {
	color: #007acc;
}

.entry-footer > span:not(:last-child):after {
	content: "|";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.entry-footer .avatar {
	height: 21px;
	margin: -0.1538461538em 0.5384615385em 0 0;
	width: 21px;
}

.sticky-post {
	color: #686868;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

/**
 * 11.4 - Comments
 */

.comments-area {
	margin: 3.5em 7.6923% 3.5em;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title,
.comment-reply-title {
	border-top: 4px solid #000099;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.3125;
	padding-top: 1.217391304em;
}

.comments-title {
	margin-bottom: 1.217391304em;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #d1d1d1;
	padding: 1.75em 0;
}

.comment-list .children {
	list-style: none;
	margin: 0;
}

.comment-list .children > li {
	padding-left: 0.875em;
}

.comment-author {
	color: #000099;
	margin-bottom: 0.4375em;
}

.comment-author .avatar {
	float: left;
	height: 28px;
	margin-right: 0.875em;
	position: relative;
	width: 28px;
}

.bypostauthor > article .fn:after {
	content: "\f304";
	left: 3px;
	position: relative;
	top: 5px;
}

.comment-metadata,
.pingback .edit-link {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.comment-metadata {
	margin-bottom: 2.1538461538em;
}

.comment-metadata a,
.pingback .comment-edit-link {
	color: #686868;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
	color: #007acc;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;
}

.comment-metadata .edit-link:before,
.pingback .edit-link:before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 1.5em 1.25em;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-reply-link {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #007acc;
	display: inline-block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1;
	margin-top: 2.1538461538em;
	padding: 0.5384615385em 0.5384615385em 0.4615384615em;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
	border-color: currentColor;
	color: #007acc;
	outline: 0;
}

.comment-form {
	padding-top: 1.75em;
}

.comment-form label {
	color: #686868;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.comment-list .comment-form {
	padding-bottom: 1.75em;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-bottom: 2.1538461538em;
}

.no-comments {
	border-top: 1px solid #d1d1d1;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: 700;
	margin: 0;
	padding-top: 1.75em;
}

.comment-navigation + .no-comments {
	border-top: 0;
	padding-top: 0;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}

.form-submit {
	margin-bottom: 0;
}

.required {
	color: #007acc;
	font-family: Merriweather, Georgia, serif;
}

.comment-reply-title small {
	font-size: 100%;
}

.comment-reply-title small a {
	border: 0;
	float: right;
	height: 32px;
	overflow: hidden;
	width: 26px;
}

.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
	color: #000099;
}

.comment-reply-title small a:before {
	content: "\f405";
	font-size: 32px;
	position: relative;
	top: -5px;
}

.more-link span.screen-reader-text{
	display:none !important;	
}
a.more-link{
	background-color: #002633;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: .25rem;
	margin: 3px;
	clear: both;
    display: block;
	margin-top: 15px;
	width: fit-content;
}


h4.archive-title { 
	margin-top:0; 
	font-size: 14px; 
	text-align: center;
	margin: 10px auto;
	padding-bottom: 5px;
	color: #000;
}
.archive-post {
	margin: 15px 0px 15px 0px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 3px rgba(0,0,0, .2);
	padding: 3%;
	width: 93%;
	text-align: left;
}
.archive-post h2 {
	margin-bottom:0px; padding-bottom: 10px; border-bottom: 1px solid #eee;
}

.archive-post img {
	float: left;
	width: 250px;
	height: auto;
	margin: 10px;        
        margin-right: 30px;
	-moz-box-shadow:0 0 0;
   -webkit-box-shadow:0 0 10;
   box-shadow:0 0 10;
   margin-top:0;
border:0;
}

.alignleft {
	float:left;
	padding: 2%;
	width: 45%;
	background: #ccc;
	margin-right: 1%;
}

.alignright {
	float:right;
	padding: 2%;
	width: 45%;
	background: #ccc;
}
.navigation-paging{
    margin-bottom: 45px;
}
.navigation-paging ul li a,
.navigation-paging ul li a:hover,
.navigation-paging ul li.active a,
.navigation-paging ul li.disabled {
	color: #fff !important;
	text-decoration:none;
}

.navigation-paging ul li {
	display: inline;
}
.navigation-paging ul {
    padding-left: 15px;
}

.navigation-paging ul li a,
.navigation-paging ul li a:hover,
.navigation-paging ul li.active a,
.navigation-paging ul li.disabled {
	background-color: $(nav-bg);
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
        border: 1px solid $(nav-border);
        
}

.navigation-paging ul li a:hover,
.navigation-paging ul li.active a {
	background-color: $(more-link-color);
        color: $(nav-color) !important;
        border: 1px solid $(nav-color);
}
article.content .para .shareWidget a{
    color: #fff !important;
}
article.content .para .shareWidget a:hover{
    text-decoration: none;
}
.Addthis{ 
	margin-bottom: 10px;
	text-align: center;
}
.archive-title.no-border{
    border-bottom: none !important;
}
.archive-title a{
    color: $(post-title-color);
    font-family: $(post-title-font);
}
.blog-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	position: relative;
	padding-bottom: 6rem;
	.blog-image{
		width: 50%;
		height: 500px;
		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			box-shadow: 5px 5px 15px -6px #000;
		}
	}
	.date {
		h2 {
			position: absolute;
			top: -2rem;
			left: 0;
			font-size: 2rem;
			font-weight: 500;
			color:#002633;	
			padding: 5px;
			background: #ffffff;
			padding: 5px;
			box-shadow: 5px 5px 15px -6px #000;

		}
	}
	.blog-details{
		width: 50%;
  padding: 0 1rem;
  h3 a{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	color:#212529;	
	&:hover{
		color:#212529;	
	}
  }
  .blog-detail a{
display: block;
width: fit-content;
  }
  a.more-link{
	background-color: #002633;
    color: #fff;
    border: none;
    display: block;
    padding: 8px 20px;
    border-radius: .25rem;
	margin: 3px;
	clear: both;
    display: block;
	margin-top: 15px;
	width: fit-content;
  }
	}
}
.content-wrapper{
	.content-home{
		padding-bottom: 20px;
	}
	background-color: #c1c1c13b;
	.single-post-wrapper{
		text-align: left;
		padding: 25px;
		box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px,rgb(0 0 0 / 30%) 0 30px 60px -30px;
		.blog-para{
			
			padding: 25px;

			p{
				font-size: 1.2rem;
			}
			h1{
				text-align: center;
				font-size: 3rem;
				position: relative;
				padding-bottom: 30px;
				font-weight: 300;
				letter-spacing: 1px;
			
			}
			.at-share-btn-elements a{
				border-radius: 50px;
			}
			.postmeta{
				text-align: center;
				border-bottom: 1px solid #e7e7e7;
				a{
					color:#212529;
				}
			}
			.postThumnail {
			text-align: center;
			margin-bottom: 20px;
			img{
				box-shadow: 5px 5px 15px -6px #000;
				margin: 5px;
				width: 70%;
				height: auto;
				clear: both;
				margin: 0px auto;
			}
		}
		.blog-text{
			width: 70%;
			text-align: center;
			margin: 0px auto;
		}
			h2{
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 1px;
				margin: 40px 0px 10px;
				font-size: 1.7rem;
				text-align: center;
			}
			h2:after{
			    content: '';
    display: block;
    width: 20%;
    height: 5px;
    background-color: #e5e5e5;
	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
}

 	
			}
		}
	}

#news-blog {
	text-align: center;
	.news-container {
		background-color: #002633;
		color: #ffffff;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-flow: column wrap;
				flex-flow: column wrap;
		padding-bottom: 1.2rem;
		
	  }
	  .news-container > div > img{
		width: 100%;
		height: 210px;
		object-fit: cover;
	  }
	  
	  .news-container .more-button {
		margin-top: -25px;
		margin-left: auto;
		margin-right: 10px;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	  }
	  
	  .news-container-heading {
		font-size: 1.1rem;
	  }
	  
	  .news-container p {
		margin: 1rem 0;
	  }
	  
	  .news-container-date {
		padding-left: 1.5rem;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		margin-top: auto;
	  }
	  
	  .news-text a {
		margin-top: auto;
	  }
  }
@media screen and (max-width: 992px) {
	.blog-box {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  padding: 5px;
	}
	.blog-box .blog-image {
	  width: 100%;
	  padding: 0;
	  height: 300px;
	}
	.blog-box .blog-details {
		width: 100%;
		padding: 20px 5px;
		text-align: center;
		h3 a{
		  font-size: 1.5rem;
		  text-transform: uppercase;
		  font-weight: 300;
		  letter-spacing: 1px;
		  color:#212529;
		  &:hover{
			  color:#212529;	
		  }
		}
  
	  }
	  .blog-box .blog-details a.more-link {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	  }
	  .blog-box .date h2{
		  top: 0rem;
		  font-size: 1.5rem;
	  }
	  .content-wrapper .single-post-wrapper .blog-para .postThumnail img{
		  width: 100%;
		  height: auto;
	  }
	  .content-wrapper .single-post-wrapper .blog-para h1{
		  font-size: 2rem;
	  }
	  .blog-para{
		  padding: 10px;
	  }
	  .content-wrapper .single-post-wrapper .blog-para p {
		font-size: 1rem;
	}
	.content-wrapper .single-post-wrapper .blog-para h2{
		font-size: 1.3rem;
	}
  }